.homeSevenLow{
    background: #FFFFFF;
}
.homeSevenLow .textBackground{
    color: #F0F2F7 !important;
    text-align: right;
}
.macbook,.mobileText{
    position: absolute;
}
.macbook{
    z-index: 1;
    width: 60%;
    height: 63%;
    top:10%;
    left: 13%;
    background: url("./../images/animeHub/animeHubMac.png") no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    animation: imgChange 1s linear;
}
.mobileText{
    z-index: 2;
    bottom: 6%;
    animation: textShowChange 2s;
}
.mobileText>div:first-child{
    font-size: 9.6em;
    font-family: CenturyGothic-Bold;
    color: #292B30;
    font-weight: bold;
    text-align: right;
    margin-right: 1.8em;
}
.mobileText>div:last-child{
    width: 70%;
    margin-left: 13%;
}
.mobileText>div:last-child>p{
    font-size: 2.4em;
    line-height: 2;
    font-family: CenturyGothic-Bold;
    color: #323843;
    font-weight: bold;
}
@keyframes imgChange {
    /*图片动画*/
    0%{opacity: 0;top:5%;}
    80%{opacity: 0.8;top:9%;}
    100%{opacity: 1;top:10%;}
}
@keyframes textShowChange {
    /*详细文字动画*/
    0%{bottom: 0%;opacity: 0}
    50%{bottom: 0%;opacity: 0}
    51%{bottom: 4%;opacity: 0.8}
    100%{bottom: 6%;opacity: 1}
}